{% extends 'todo/base.html' %}

{% block header %}
<h1 style="color: #A0C6FF;">Delete</h1>
{% endblock header %}

{% block content %}
<p style="color: #6E6D6D;">「{{task.title}}」を本当に削除しますか？</p>
<form action="" method="POST">{% csrf_token %}
    <a class="btn btn-outline-secondary" href="{% url 'list' %}" role="button">戻る</a>
    <input class="btn btn-danger" type="submit" value="削除" style="background: #5a8cf4; border-color: #5a8cf4;">
</form>
{% endblock content %}
<style>
.btn-outline-secondary:hover {
    background-color: #6E6D6D !important;
}
</style>